{% extends "::base.html.twig" %}

{% block title %}CrmBundle:Dashboard:hallo{% endblock %}

{% block body %}
<h2>Witaj {{user.username}} w panelu zarządzającym firmą Opieka Nad Zwierzętami</h2>
<img src="{{ asset('bundles/framework/images/logo-onz.png') }}"/>
{% endblock %}
