{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> Zwierzęta </strong>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Imię</th>
                                <th>Właściciel</th>
                                <th>Opis</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for animal in animals %}
                                <tr>
                                    <td><a href="{{ path('animals_show', { 'id': animal.id }) }}">{{ animal.name }}</a></td>
                                    <td>{{ animal.owner }}</td>
                                    <td>{{ animal.description }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
{% endblock %}
