{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-6 form-group">

        <h1>Visit creation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Create" />
        {{ form_end(form) }}

    </div>
{% endblock %}
